
/* =Reset
-------------------------------------------------------------- */
/*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""
}

blockquote cite {
  color: #666666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal
}

a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}

a:focus,
a:active,
a:hover {
  text-decoration: none
}

li > ul,
li > ol {
  margin: 0 0 0 10px
}

a:focus {
  outline: thin dotted
}

p img {

}

a img {
  border: 0
}

a img:hover {
  /* For IE8 and earlier */
  box-shadow: #000 0 0 0;
  filter: alpha(opacity=80);
  nowhitespace: afterproperty;
  opacity: 0.8;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* Keeps page centred in all browsers regardless of content height */
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  nowhitespace: afterproperty;
  nowhitespace: afterproperty;
  nowhitespace: afterproperty;
  overflow-y: scroll;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block
}

nav li > ul,
nav li > ol {
  list-style: none;
  margin: 0;
}

ol,
ul {
  list-style: none
}

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  font-weight: bold
}

th,
td {
  border: 1px solid #EAEAEA;
  padding: 6px 10px;
}

caption,
th,
td {
  text-align: left
}

blockquote,
q {
  quotes: "" ""
}

embed,
iframe,
object {
  max-width: 100%
}
