/* =RESPONSIVE STRUCTURE
----------------------------------------------- */

@media screen and (max-width: 1308px) { 
    #page {
      width: 97%
    }

    .wide-1218 #page,
    .wide-978 #page {
      width: 100%
    }

    .inner-wrap {
      width: 94%
    }
}

@media screen and (max-width: 1078px) { 
    body {
      padding: 15px 0
    }

    #page {
      width: 97%
    }

    .wide-1218 #page,
    .wide-978 #page {
      width: 100%
    }

    .inner-wrap {
      width: 94%
    }

    #featured-slider .entry-container {
      max-width: 60%;
      top: 15%;
    }

    .call-to-action-content {
      float: none;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }

    .call-to-action-button {
      width: 93%
    }

    .footer-socket-wrapper .copyright {
      float: none;
      margin-bottom: 5px;
      max-width: 100%;
      text-align: center;
    }

    .footer-socket-wrapper .small-menu {
      float: none;
      text-align: center;
    }

    .footer-socket-wrapper .small-menu li {
      display: inline;
      float: none;
    }

    .footer-socket-wrapper .small-menu a {
      display: inline;
      float: none;
      padding: 5px 5px 0;
    }

    .small-menu li.default-menu,
    li.default-menu {
      display: none
    }

    .tg-one-half,
    .tg-one-third,
    .tg-one-fourth {
      float: left;
      width: 46.7684729%;
    }

    .tg-one-half-last,
    .tg-one-fourth-last {
      float: right
    }

    .tg-service-left {
      float: left;
      margin: 0;
    }

    .tg-service-right {
      float: right;
      margin: 0;
    }

    .tg-column-1,
    .tg-column-3 {
      float: left;
      width: 46.7684729%;
    }

    .tg-column-2,
    .tg-column-4 {
      float: right;
      margin-right: 0;
    }

    .tg-after-two-blocks-clearfix {
      : ;
      clear: both;
    }

    .tg-after-three-blocks-clearfix {
      clear: none
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) { 
    #featured-slider .slider-title-head {
      margin-bottom: 0
    }

    #featured-slider .entry-content {
      display: none
    }

    #featured-slider .entry-container {
      bottom: 15%;
      top: auto;
    }
}

@media screen and (max-width: 768px) { 
    #primary,
    #secondary {
      float: none;
      margin: 0;
      width: 100%;
    }

    #header-left-section {
      float: none;
      margin-right: 0px;
      max-width: 100%;
    }

    #header-logo-image {
      float: none;
      margin-bottom: 10px;
      text-align: center;
    }

    #header-text {
      float: none;
      margin-bottom: 10px;
      padding: 0;
      text-align: center;
    }

    #site-description {
      padding-bottom: 5px
    }

    #header-right-section {
      float: none;
      max-width: 100%;
    }

    #header-right-section .widget {
      float: none;
      padding: 0 0 10px 0;
      text-align: center;
    }

    .menu-toggle,
    .main-navigation.toggled .nav-menu {
      display: block
    }

    .main-navigation {
      float: none
    }

    #masthead .search-wrap span {
      right: auto
    }

    .main-navigation ul {
      display: none
    }

    #masthead input.s {
      margin-left: -30px
    }
}

@media screen and (max-width: 767px) { 
    body {
      padding: 5px 0
    }

    #page {
      width: 97%
    }

    .inner-wrap {
      width: 95%
    }

    #featured-slider .entry-container {
      bottom: 15%;
      top: auto;
    }

    #featured-slider .entry-description-container {
      padding: 0.5rem 1rem
    }

    #featured-slider .entry-content {
      display: none
    }

    #featured-slider .slider-title-head {
      margin-bottom: 0
    }

    #featured-slider .entry-title span {
      font-size: 16px
    }

    #featured-slider .slider-read-more-button {
      font-size: 16px;
      padding: 0.5rem 1rem;
    }

    .tg-one-half,
    .tg-one-third,
    .tg-one-fourth {
      float: none;
      margin: 0;
      width: 100%;
    }

    .tg-column-1,
    .tg-column-2,
    .tg-column-3,
    .tg-column-4 {
      float: none
    }

    #primary,
    #secondary {
      float: none;
      margin: 0;
      width: 100%;
    }

    .wide-978 #primary,
    .narrow-978 #primary,
    .wide-978 #secondary,
    .narrow-978 #secondary {
      width: 100%
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) { 
    body {
      padding: 10px 0
    }

    #page {
      width: 97%
    }

    .inner-wrap {
      width: 96%
    }

    #header-logo-image {
      padding-right: 0
    }

    #header-text {
      padding-right: 0
    }

    .block-search {
      margin-bottom: 15px;
    }

    .block-search .container-inline {
      text-align: center;
    }
     
}

@media only screen and (max-width: 320px) { 
    #page {
      width: 97%
    }

    .inner-wrap {
      width: 95%
    }

    #masthead .social-links,
    #masthead .small-info-text {
      max-width: 100%
    }

    #featured-slider .entry-description-container {
      padding: 0.2rem 0.5rem
    }

    #featured-slider .slider-read-more-button {
      display: none
    }
}

