/* =GENERICONS
----------------------------------------------- */

@font-face {
  font-family: 'Genericons';
  font-style: normal;
  font-weight: normal;
  src: url('../font/genericons-regular-webfont.eot');
  src: url('../font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/genericons-regular-webfont.woff') format('woff'), url('../font/genericons-regular-webfont.ttf') format('truetype'), url('../font/genericons-regular-webfont.svg#genericonsregular') format('svg');
}

/* =GLOBAL
----------------------------------------------- */

body,
button,
input,
select,
textarea {
  color: #666666;
  font: 16px 'Lato', sans-serif;
  line-height: 20px;
  word-wrap: break-word;
}

body {
  background: #eaeaea
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  padding-bottom: 18px;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 28px;
  line-height: 34px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 22px;
  line-height: 28px;
}

h6 {
  font-size: 19px;
  line-height: 25px;
}

hr {
  border-color: #EAEAEA;
  border-style: solid none none;
  border-width: 1px 0 0;
  height: 0;
  margin: 30px 0;
}

/* =TEXT ELEMENTS
----------------------------------------------- */

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

strong {
  font-weight: bold
}

cite,
em,
i {
  font-style: italic
}

pre {
  background-color: #fff;
  border: 1px solid #EAEAEA;
  margin-bottom: 20px;
  overflow: auto;
  padding: 20px;
}

pre,
code,
kbd,
var,
samp,
tt {
  font-family: "Courier 10 Pitch",Courier,monospace;
  font-size: 14px;
  line-height: 19px;
  white-space: pre-wrap;
}

abbr,
acronym,
dfn {
  border-bottom: 1px dotted #666666;
  cursor: help;
}

address {
  display: block;
  font-style: italic;
  margin: 0 0 15px;
}

ins {
  background: #F8F8F8
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* =SUPERCRIPT AND SUBSCRIPT
----------------------------------------------- */

sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex
}

sub {
  top: .5ex
}

dl {
  font-size: 16px;
  margin-bottom: 24px;
}

dt {
  font-weight: bold;
  margin-bottom: 5px;
}

dd {
  margin-bottom: 24px
}

ul,
ol {
  list-style: none
}

ol {
  list-style: decimal
}

/* =BLOCKQUOTE
----------------------------------------------- */

blockquote {
  border: 1px solid #EAEAEA;
  border-left: 3px solid #0FBE7C;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 20px;
  padding: 20px;
}

/* =FORMS
----------------------------------------------- */

input,
textarea {
  -webkit-border-radius: 0px
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #EAEAEA
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #F8F8F8;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  line-height: 20px;
  margin: 0 0 30px;
  padding: 1%;
  width: 98%;
}

input.s {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  color: #666666;
  cursor: pointer;
  height: 22px;
  margin: 0;
  padding: 4px 10px;
  width: 60%;
}

input.s:focus {
  border-color: #EAEAEA;
  padding-left: 10px;
  text-indent: 0;
}

.spacious-button,
input[type="reset"],
input[type="button"],
input[type="submit"],
button {
  -moz-appearance: none !important;
  -moz-border-radius: 3px;
  -webkit-appearance: none !important;
  -webkit-border-radius: 3px;
  appearance: none !important;
  background-color: #0FBE7C;
  border: 0px;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 5px 25px;
}

input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.spacious-button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.previous a,
.next a {
  border: 1px solid #EAEAEA;
  color: #666666;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 25px;
}

.previous a:hover,
.next a:hover {
  color: #0FBE7C
}

/* =LINKS
----------------------------------------------- */

a {
  color: #0FBE7C;
  text-decoration: none;
}

/* =IMAGES
----------------------------------------------- */

figure {
  margin: 0;
  text-align: center;
}

img {
  height: auto;
  margin-bottom: 18px;
  max-width: 100%;
  vertical-align: top;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {

}

img.size-full,
img.size-large {
  height: auto;
  max-width: 100%;
}

.entry-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 1.625em
}

img#wpstats {
  display: none
}

/* =CLEARFIX
----------------------------------------------- */

.clearfix {
  display: inline-block
}

* html .clearfix {
  height: 1%
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: block
}

.tg-after-three-blocks-clearfix {
  clear: both
}

/* =ALIGNMENT
----------------------------------------------- */

.alignleft {
  display: inline;
  float: left;
  margin-right: 30px;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 30px;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*****************************************************************/

/*****************************************************************/

/* =BODY 
----------------------------------------------- */

body {
  padding-bottom: 30px;
  padding-top: 30px;
}

#page {
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  margin: 0 auto;
  max-width: 1268px;
}

.wide-978,
.wide-1218 {
  padding-bottom: 0;
  padding-top: 0;
}

.wide-978 .widget_featured_post .meta,
.narrow-978 .widget_featured_post .meta {
  font-size: 11px
}

.wide-1218 .inner-wrap {
  max-width: 1218px
}

.wide-978 .inner-wrap {
  max-width: 978px
}

.wide-978 #secondary,
.narrow-978 #secondary {
  width: 30.4827586%
}

.wide-978 #primary,
.narrow-978 #primary {
  width: 65.5763547%
}

.wide-1218 #page {
  max-width: 100%
}

.wide-978 #page {
  padding-bottom: 0;
  padding-top: 0;
}

.wide-978 #page {
  max-width: 100%
}

.narrow-978 #page {
  max-width: 1038px
}

.inner-wrap {
  margin: 0 auto;
  max-width: 1218px;
}

.narrow-978 .inner-wrap {
  max-width: 978px
}

/* =HEADER 
----------------------------------------------- */

#masthead {

}

#masthead .search-wrap {
  position: relative
}

#masthead .search-wrap span {
  right: 1px
}

#masthead input.s {
  width: 150px
}

#header-meta {
  background-color: #F8F8F8;
  border-bottom: 1px solid #EAEAEA;
}

#header-text-nav-container {
  border-bottom: 1px solid #EAEAEA
}

#header-text-nav-wrap {
  padding-bottom: 15px;
  padding-top: 15px;
}

#header-left-section {
  float: left;
  margin-right: 25px;
}

#header-logo-image {
  float: left;
  max-width: 100%;
  padding: 0 20px 0 0;
}

#header-logo-image img {
  margin-bottom: 0px
}

#header-text {
  float: left;
  padding: 10px 20px 0 0;
}

#site-name a {
  color: #444444;
  font-size: 36px;
}

#site-name a:hover {
  color: #0FBE7C
}

h1#site-name {
  padding-bottom: 5px
}

#site-description {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 0;
}

#header-right-section {
  float: right
}

#header-right-section .widget {
  padding-top: 10px;
  text-align: right;
}

#header-right-section .widget h3 {
  padding-bottom: 5px
}

#header-right-sidebar {
  overflow: hidden
}

#header-right-sidebar .block-search input[type="submit"] {
  cursor: pointer;
  margin-bottom: 0;
}

#header-right-sidebar .block-search input[type="text"] {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  color: #666666;
  height: 22px;
  margin: 0;
  margin-bottom: 0;
  padding: 4px 10px;
  width: 150px;
}

.header-image {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 0;
  width: 100%;
}

/* =SEARCH WIDGET 
----------------------------------------------- */

#search-submit {
  display: none
}

#search-form span {
  background-color: #0FBE7C;
  color: #FFFFFF;
  height: 32px;
  line-height: 40px;
  margin-left: -2px;
  position: absolute;
  text-align: center;
  width: 30px;
}

.search-icon:before {
  -webkit-font-smoothing: antialiased;
  content: '\f400';
  display: inline-block;
  font: normal 18px/1 'Genericons';
}

/* =NAVIGATION 
----------------------------------------------- */

.main-navigation {
  float: right;
  padding-top: 5px;
}

.main-navigation li.default-menu,
li.default-menu {
  display: none
}

.main-navigation ul li:hover ul,
.main-navigation ul ul li:hover ul,
.main-navigation ul ul ul li:hover ul,
.main-navigation ul ul ul ul li:hover ul,
.main-navigation ul ul ul ul ul li:hover ul {
  display: block
}

.main-navigation ul li ul,
.main-navigation ul li:hover ul ul,
.main-navigation ul ul li:hover ul ul,
.main-navigation ul ul ul li:hover ul ul,
.main-navigation ul ul ul ul li:hover ul ul {
  display: none;
  z-index: 9999;
}

.main-navigation ul li ul {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  border-top: 1px solid #0FBE7C;
  left: 25px;
  position: absolute;
  top: 45px;
  width: 150px;
}

.main-navigation ul li a {
  font-size: 16px
}

.main-navigation select {
  display: none
}

.main-navigation li {
  float: left;
  font-family: 'Lato', sans-serif;
  padding: 0 0 0 25px;
  position: relative;
}

.main-navigation a {
  color: #444444;
  display: block;
  float: left;
  height: 30px;
  padding: 16px 0 0;
}

.main-navigation a:hover,
.main-navigation .active,
.main-navigation ul li:hover > a {
  color: #0FBE7C
}

/* =DROP DOWN 
----------------------------------------------- */

.main-navigation ul li ul li {
  border-bottom: 1px solid #EAEAEA;
  float: none;
  padding: 0;
}

.main-navigation ul li ul li ul {
  left: 150px;
  top: -1px;
}

.main-navigation ul li ul li a,
.main-navigation ul li.current-menu-item ul li a,
.main-navigation ul li ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor ul li a,
.main-navigation ul li.current-menu-ancestor ul li a,
.main-navigation ul li.current_page_item ul li a {
  color: #666666;
  float: none;
  font-size: 13px;
  font-weight: normal;
  height: 100%;
  line-height: 21px;
  padding: 6px 10px;
}

.main-navigation ul li ul li a:hover,
.main-navigation ul li ul li:hover > a,
.main-navigation ul li.current-menu-item ul li a:hover {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
  color: #0FBE7C;
}

/* =SMALL MENU 
----------------------------------------------- */

.menu-toggle {
  cursor: pointer;
  display: none;
}

.site-header .menu-toggle {
  background: #3A3A3A;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 5px 22px;
}

.site-header .menu-toggle:before {
  content: '\2261';
  margin-right: 10px;
}

.site-header .menu-toggle:hover {
  background: #0FBE7C
}

.main-small-navigation {
  background-color: #000000;
  float: none;
  margin-top: 5px;
  padding-top: 0;
}

.main-small-navigation li {
  background: #3A3A3A
}

.main-small-navigation li:hover {
  background: #0FBE7C
}

.main-small-navigation ul {
  list-style: none;
  margin: 0;
}

.main-small-navigation ul > .current_page_item,
.main-small-navigation ul > .current-menu-item {
  background: #0FBE7C
}

.main-small-navigation ul ul ul a {
  padding-left: 80px
}

.main-small-navigation ul ul a {
  padding-left: 60px
}

.main-small-navigation a {
  color: #FFFFFF;
  display: block;
  padding: 10px 40px;
  text-decoration: none;
}

/* =SECONDARY MENUS 
----------------------------------------------- */

.small-menu {
  float: right
}

.small-menu li.default-menu,
li.default-menu {
  display: none
}

.small-menu li {
  float: left;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.small-menu a {
  color: #666666;
  display: block;
  float: left;
  font-size: 10px;
  font-size: 12px;
  height: 21px;
  padding: 5px 0 0 16px;
}

.small-menu a:hover,
.small-menu ul li.current-menu-item a,
.small-menu ul li.current_page_ancestor a,
.small-menu ul li.current-menu-ancestor a,
.small-menu ul li.current_page_item a,
.small-menu ul li:hover > a {
  color: #0FBE7C
}

/* =FEATURED SLIDER 
----------------------------------------------- */

#featured-slider {
  border-bottom: 1px solid #EAEAEA
}

#featured-slider .entry-description-container {
  background: none repeat scroll right -53px rgba(0, 0, 0, 0.3);
  padding: 1rem 1.5rem;
}

#featured-slider .slider-read-more-button {
  background-color: #0FBE7C;
  color: #FFFFFF;
  float: left;
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  margin-top: 15px;
  padding: 1rem 1.5rem;
  text-align: center;
}

#featured-slider .slider-read-more-button:hover {
  background-color: #666666
}

#featured-slider .slider-title-head {
  display: inline-block;
  left: 0;
  margin-bottom: 0.5rem;
}

#featured-slider .entry-container {
  left: 5%;
  max-width: 40%;
  position: absolute;
  top: 25%;
}

#featured-slider .entry-content {
  color: #FFFFFF;
  padding-top: 0.5rem;
}

#featured-slider .entry-content p {
  margin: 0;
  padding: 0;
}

#featured-slider,
#featured-slider .slider-cycle {
  position: relative
}

#featured-slider .displayblock {
  display: block
}

#featured-slider .displaynone {
  display: none
}

#featured-slider .entry-title {
  padding: 0
}

#featured-slider .entry-title span {
  color: #FFFFFF;
  display: block;
  font-size: 26px;
}

#featured-slider img {
  margin-bottom: 0px
}

.slider-title-head .entry-title a {
  color: #FFFFFF;
  text-decoration: none;
}

/* =SLIDER CONTROLLERS 
----------------------------------------------- */

#controllers {
  bottom: 15px;
  line-height: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

#controllers a {
  background-color: #FFFFFF;
  color: #FFFFFF;
  display: inline-block;
  height: 6px;
  margin: 0 4px;
  overflow: hidden;
  width: 18px;
}

#controllers a:hover,
#controllers a.active {
  background-color: #0FBE7C;
  color: #0FBE7C;
}

/* =PAGE HEADER TITLE 
----------------------------------------------- */

.header-post-title-container {
  border-bottom: 1px solid #EAEAEA;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05) inset;
  padding: 20px 0;
}

.header-post-title-container .post-title-wrapper {
  float: left;
  max-width: 100%;
  padding-right: 30px;
}

.post-title-wrapper .title {
  padding-bottom: 0
}

.header-post-title-class {
  font-size: 22px;
  padding-bottom: 0;
}

/* =BREADCRUMB NAVXT PLUGIN SUPPORT 
----------------------------------------------- */

.breadcrumb {
  color: #666666;
  float: right;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 8px;
  text-align: right;
}

.breadcrumb a {
  color: #666666
}

.breadcrumb a:hover {
  color: #0FBE7C
}

.breadcrumb-elements,
.breadcrumb-title {
  color: #666666;
  display: inline-block;
  font-size: 12px;
}

.breadcrumb-title {
  margin-right: 4px;
  margin-top: 0;
  padding-bottom: 0;
}

/* =CONTENT 
----------------------------------------------- */

.sticky {

}

#main {
  padding: 40px 0 10px 0
}

.widget_service_block {
  margin-bottom: 30px;
  padding-top: 30px;
}

.widget_service_block .more-link-wrap {
  text-align: center
}

.widget_service_block .block-title {
  font-size: 22px;
  padding-bottom: 10px;
}

.widget_service_block p {
  padding-bottom: 0
}

.tg-one-third {
  float: left;
  margin: 0 2.46305419%;
  padding: 0px 0px 30px;
  width: 28.407225%;
}

.tg-one-fourth {
  float: left;
  margin: 0 2.46305419% 0 0;
  padding: 0px 0px 30px;
  width: 23.1527094%;
}

.tg-one-fourth-last {
  margin: 0px
}

.tg-one-half .service-image,
.tg-one-third .service-image,
.tg-one-fourth .service-image {
  text-align: center
}

.tg-one-half .block-title,
.tg-one-third .block-title,
.tg-one-fourth .block-title {
  text-align: center
}

.tg-one-half p,
.tg-one-third p,
.tg-one-fourth p {
  text-align: center
}

.tg-one-half .block-title a:hover,
.tg-one-third .block-title a:hover,
.tg-one-fourth .block-title a:hover {
  color: #0FBE7C
}

.tg-one-half {
  float: left;
  margin: 0 2.46305419% 0 0;
  padding: 0px 0px 30px;
  width: 48.7684729%;
}

.tg-one-half-last {
  float: right;
  margin: 0px;
}

.widget_recent_work {
  margin-bottom: 20px
}

.widget_recent_work .tg-one-half .service-image,
.widget_recent_work .tg-one-third .service-image,
.widget_recent_work .tg-one-fourth .service-image {
  padding-bottom: 0;
  text-align: center;
}

.widget_recent_work .tg-one-half .block-title,
.widget_recent_work .tg-one-third .block-title,
.widget_recent_work .tg-one-fourth .block-title {
  font-size: 22px;
  padding-bottom: 8px;
  text-align: left;
}

.widget_recent_work .tg-one-half p,
.widget_recent_work .tg-one-third p,
.widget_recent_work .tg-one-fourth p {
  text-align: left
}

.widget_recent_work img {
  margin-bottom: 0px
}

.widget_featured_single_post {
  padding-bottom: 30px
}

.widget_featured_single_post .service-image {
  padding-bottom: 0px
}

.widget_service_block a.more-link:hover,
.widget_featured_single_post a.read-more:hover {
  text-decoration: underline
}

.widget_featured_single_post .block-title,
.widget_featured_single_post p,
.widget_featured_single_post .service-image {
  text-align: left
}

.widget_featured_single_post .block-title {
  font-size: 22px
}

.widget_featured_post {
  margin-bottom: 20px
}

.widget_featured_post .tg-one-half .block-title,
.widget_featured_post .tg-one-third .block-title,
.widget_featured_post .tg-one-fourth .block-title {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 8px;
  text-align: left;
}

.widget_featured_post .tg-one-half p,
.widget_featured_post .tg-one-third p,
.widget_featured_post .tg-one-fourth p {
  text-align: left
}

.widget_featured_post .main-title {
  font-size: 24px;
  padding-bottom: 8px;
}

.widget_featured_post .meta {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: 3px;
}

.container-featured-widget-head {
  padding-bottom: 15px;
  padding-top: 10px;
}

/* =META 
----------------------------------------------- */

.meta {
  border-bottom: 1px dashed #EAEAEA;
  border-top: 1px dashed #EAEAEA;
  font-size: 15px;
  padding: 5px;
}

.meta li {
  border-bottom: none !important;
  border-left: 1px solid #EAEAEA;
  float: left;
  padding: 0 6px 0 6px !important;
}

.meta li:first-child {
  border-left: 0 none;
  padding-left: 0 !important;
}

.meta li:last-child {
  border-left: 0 none;
  float: right;
  padding-right: 0px !important;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
}

.main-description {
  text-align: center
}

/* =NAVIGATION 
----------------------------------------------- */

.default-wp-page .previous {
  float: left;
  margin-bottom: 30px;
}

.default-wp-page .next {
  float: right;
  margin-bottom: 30px;
}

.wp-pagenavi {
  text-align: center
}

/* =PAGINATION 
----------------------------------------------- */

.pagination {
  margin: 15px 0
}

.pagination a span {
  background-color: #FFFFFF;
  color: #666666;
}

.pagination a span:hover {
  border-color: #0FBE7C;
  color: #0FBE7C;
  text-decoration: none;
}

.pagination span {
  background-color: #0FBE7C;
  border: 1px solid #EAEAEA;
  color: #FFFFFF;
  padding: 2px 5px;
}

/* =TESTIMONIAL WIDGET 
----------------------------------------------- */

.widget_testimonial {
  margin-bottom: 30px
}

.widget_testimonial .testimonial-icon:before {
  -webkit-font-smoothing: antialiased;
  color: #0FBE7C;
  content: '\f106';
  display: inline-block;
  float: left;
  font: normal 22px/1 'Genericons';
  height: 19px;
  margin-right: 3.06%;
  vertical-align: top;
  width: 25px;
}

.widget_testimonial .testimonial-author {
  clear: both;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-align: right;
}

.widget_testimonial .testimonial-author span {
  color: #666666;
  font-size: 16px;
}

.widget_testimonial .testimonial-post {
  border-color: #0FBE7C #EAEAEA #EAEAEA #EAEAEA;
  border-style: solid dashed dashed dashed;
  border-width: 2px 1px 1px 1px;
  display: block;
  font-style: italic;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 20px;
}

.widget_testimonial .testimonial-post p {
  margin-bottom: 0px
}

.widget_testimonial .block-title {
  font-size: 22px;
  text-align: left;
}

/* =CALL TO ACTION WIDGET 
----------------------------------------------- */

.region_call_to_action {
  margin-bottom: 20px;
  margin-top: 20px;
}

.call-to-action-content-wrapper {
  background-color: #F8F8F8;
  border-color: #EAEAEA #EAEAEA #EAEAEA #0FBE7C;
  border-style: dashed dashed dashed solid;
  border-width: 1px 1px 1px 3px;
  padding: 20px 3.85878489% 20px 3.69458128%;
}

.call-to-action-content {
  float: left;
  width: 69.5187166%;
}

.call-to-action-content .block-title {
  font-size: 24px;
  padding-bottom: 0;
}

.call-to-action-content .block-title span {
  border: none
}

.call-to-action-content .block {
  margin-bottom: 0
}

.call-to-action-content p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.call-to-action-button {
  background-color: #0FBE7C;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  float: right;
  font-family: 'Lato',sans-serif;
  font-size: 23px;
  line-height: 40px;
  margin-top: 8px;
  padding: 0 3.28407225%;
  text-align: center;
}

.call-to-action-button:hover {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

/* =MEDIA
----------------------------------------------- */

.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

.wp-caption .wp-caption-text {
  margin: 0.8075rem 0
}

.wp-caption-text {
  text-align: center
}

.gallery-caption {

}

/* =WORDPRESS GALLERY SUPPORT
----------------------------------------------- */

.gallery {
  margin: 0 auto 2em
}

.gallery .gallery-caption {
  font-size: 14px;
  line-height: 1.2em;
  margin: 10px 0 0;
}

.gallery .gallery-icon {
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.gallery .gallery-item {
  background: #fff;
  display: block;
  float: left;
  margin: 10px 1.5% 20px;
  text-align: center;
}

.gallery .gallery-item:hover {

}

.gallery br+br {
  display: none
}

.gallery dl a {
  display: block
}

.gallery dl a img {
  height: auto;
  margin: 0 auto;
}

.gallery-columns-1 .gallery-item {
  float: none;
  margin: 10px 0 20px;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 47%
}

.gallery-columns-3 .gallery-item {
  width: 30%
}

.gallery-columns-4 .gallery-item {
  width: 22%
}

.gallery-columns-5 .gallery-item {
  width: 17%
}

.gallery-columns-6 .gallery-item {
  width: 13.6%
}

.gallery-columns-7 .gallery-item {
  margin: 10px 1% 10px;
  width: 12.25%;
}

.gallery-columns-8 .gallery-item {
  margin: 10px 1% 10px;
  width: 10.5%;
}

.gallery-columns-9 .gallery-item {
  margin: 10px 1% 10px;
  width: 9.11%;
}

/* =COMMENTS
----------------------------------------------- */

#comments {
  background-color: #FFFFFF;
  margin-top: 50px;
}

#comments h2.comments-title {
  margin-bottom: 10px
}

#comments h1,
#comments h2,
#comments h3,
#comments h4,
#comments h5,
#comments h6 {
  margin-bottom: 1rem
}

.bypostauthor {

}

.avatar {
  float: left
}

.avatar img {
  border-radius: 50%
}

.comments-area article header {
  margin: 0 0 10px;
  overflow: hidden;
  position: relative;
}

.comments-area article header .comment-author-link:before {
  content: '\f304'
}

.comments-area article header .comment-author-link:before,
.comments-area article header .comment-edit-link:before,
.comments-area article header .comment-permalink:before,
.comments-area article header .comment-date-time:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 22px/1 'Genericons';
  vertical-align: top;
}

.comments-area article header .comment-permalink:before {
  content: '\f107'
}

.comments-area article header .comment-edit-link:before {
  content: '\f411'
}

.comments-area article header .comment-date-time:before {
  content: '\f307'
}

.comments-area .comment-edit-link,
.comments-area .comment-permalink,
.comments-area .comment-date-time,
.comments-area .comment-author-link {
  color: #999999;
  display: block;
}

.comments-area .comment-author-link a {
  color: #999999;
  text-transform: capitalize;
}

.comments-area .comment-author-link a:hover {
  color: #0FBE7C
}

.comments-area .comment-permalink a {
  color: #999999
}

#content .comments-area article header cite a:hover,
#content .comments-area a.comment-edit-link:hover,
#content .comments-area a.comment-permalink:hover {
  color: #0FBE7C
}

.comment-content {
  background-color: #F8F8F8;
  border: 1px solid #EAEAEA;
  padding: 2rem;
}

.comment {
  margin-bottom: 20px
}

.comment .comment-reply a:before {
  -webkit-font-smoothing: antialiased;
  content: '\f412';
  display: inline-block;
  font: normal 22px/1 'Genericons';
  vertical-align: top;
}

.entry-content img,
.comment-content img,
.widget img {
  /* Fluid images for posts, comments, and widgets */
  max-width: 100%;
  nowhitespace: afterproperty;
}

.comment-content a {
  word-wrap: break-word
}

.comment .links {
  bottom: 1%;
  font-size: 16px;
  margin: 0;
  position: absolute;
  right: 1%;
}

.comment .links li {
  border: none;
  display: inline-block;
  margin-right: 5px;
  text-transform: capitalize;
}

.comment .links a {
  color: #999
}

.comment .links a:hover {
  color: #0FBE7C
}

.comment ul {
  list-style: square outside none
}

.comment ul,
.comment ol {
  margin: 0 0 20px 20px
}

.comment-list {
  margin-bottom: 34px;
  margin-bottom: 3.4rem;
}

.comment-list,
.comment-list .children {
  list-style-type: none;
  padding: 0;
}

.comment-list .children {
  margin-left: 20px
}

.screen-reader-text {
  display: none
}

.nav-previous,
.nav-next {
  margin-bottom: 15px
}

.nav-previous a,
.nav-next a {
  border: 1px solid #EAEAEA;
  color: #666666;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 25px;
}

.nav-previous a:hover,
.nav-next a:hover {
  color: #0FBE7C
}

/* =COMMENT FORM 
----------------------------------------------- */

#respond {

}

#respond h3#reply-title {
  line-height: 1.5
}

#respond h3#reply-title #cancel-comment-reply-link {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  margin-left: 10px;
  margin-left: 1rem;
}

#respond form {
  margin: 24px 0;
  margin: 2.4rem 0;
}

#respond form p.form-allowed-tags {
  color: #5e5e5e;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

#respond form input[type="text"],
#respond form textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  width: 100%;
}

#respond form p.logged-in-as {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

#respond form label {
  display: block;
  line-height: 1.5;
}

#respond form p {
  margin: 11px 0;
  margin: 1.1rem 0;
}

/* =WIDGETS 
----------------------------------------------- */

.widget select {
  border: 1px solid #DDDDDD;
  color: #666666;
  padding: 2px;
  width: 60%;
}

.block-title {
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 15px;
}

.block-title span {
  border-bottom: 2px solid #0FBE7C;
  padding-bottom: 5px;
}

.block-title a {
  color: #444444
}

.block ul li li,
.block ul li li {
  border-bottom: none
}

.block ul ul,
.block ul ul {
  padding-left: 10px
}

.block li {
  border-bottom: 1px solid #EAEAEA;
  line-height: 1.5;
  padding: 5px 0;
}

.error-404 {
  padding-bottom: 20px;
  text-align: center;
}

.error-404 input.s {
  width: 50%
}

.block,
.error-404 .block {
  font-size: 16px;
  margin-bottom: 35px;
}

/* =CALENDAR WIDGET 
----------------------------------------------- */

#wp-calendar {

}

#wp-calendar caption {
  text-align: center
}

#wp-calendar #today {
  color: #0FBE7C
}

#wp-calendar #next {
  padding-right: 35px;
  text-align: right;
}

#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
  padding-bottom: 10px;
  text-align: left;
}

.widget_calendar #wp-calendar th {
  font-weight: 600
}

.widget th,
.widget td {
  padding: 1px 1px 1px 2px
}

/* =FOOTER WIDGET AREA 
----------------------------------------------- */

.main-footer {
  background-color: #333333;
  border-top: 1px solid #EAEAEA;
}

.footer-blocks-area {
  color: #999999;
  padding-bottom: 10px;
  padding-top: 30px;
}

.footer-blocks-area .tg-one-fourth .block-title {
  text-align: left
}

.footer-blocks-area .tg-one-fourth p {
  color: #999999;
  text-align: left;
}

.footer-blocks-area .block-title {
  color: #D5D5D5
}

.footer-blocks-area a {
  color: #D5D5D5 !important
}

.footer-blocks-area a:hover {
  color: #0FBE7C !important
}

.footer-grid {
  float: left;
  width: 25%;
}

#colophon,
#colophon p {
  font-size: 14px;
  line-height: 18px;
}

#colophon .footer-socket-area .block,
/* TODO: optimize this selector */
#colophon .footer-socket-area p {
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* =FOOTER SOCKET AREA 
----------------------------------------------- */

#colophon #wp-calendar th,
#colophon #wp-calendar td {
  border: 1px solid #444444;
  padding: 3px 2px 3px 8px;
}

#colophon .widget ul li {
  border-bottom: 1px solid #444444
}

#colophon .block-title {
  font-size: 22px;
  line-height: 32px;
}

#colophon .block {
  padding-bottom: 25px
}

.footer-socket-wrapper {
  background-color: #F8F8F8;
  border-top: 1px solid #EAEAEA;
  padding: 10px 0px;
}

.footer-socket-wrapper .small-menu {
  float: right
}

.footer-socket-wrapper .small-menu ul li ul {
  top: 21px
}

.footer-socket-wrapper .small-menu a {
  padding-top: 0
}

.footer-socket-wrapper .copyright {
  color: #666666;
  float: left;
  font-size: 12px;
  max-width: 50%;
}

.footer-socket-wrapper .copyright a {
  color: #666666
}

.footer-socket-wrapper .copyright a:hover {
  color: #0FBE7C
}

.footer-socket-area {
  width: 100%
}

/* =SCROLL UP 
----------------------------------------------- */

a#scroll-up {
  -webkit-font-smoothing: antialiased;
  /* For IE8 and earlier */
  background-color: #0FBE7C;
  bottom: 20px;
  color: #FFFFFF;
  display: none;
  filter: alpha(opacity=50);
  font: normal 30px/1 'Genericons';
  nowhitespace: afterproperty;
  opacity: 0.5;
  position: fixed;
  right: 20px;
  vertical-align: top;
}

a#scroll-up:before {
  content: '\f432'
}

a#scroll-up:hover {
  /* For IE8 and earlier */
  filter: alpha(opacity=100);
  nowhitespace: afterproperty;
  opacity: 1;
}

/* =READ MORE LINK 
----------------------------------------------- */

.read-more,
.more-link {
  color: #0FBE7C;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

/* =PRIMARY AND SECONDARY CONTENT AREA 
----------------------------------------------- */

#primary {
  float: left;
  width: 61.5763547%;
}

#secondary {
  float: right;
  width: 34.4827586%;
}

#secondary a:hover {
  text-decoration: underline
}

/* =LEFT SIDEBAR CONTENT LAYOUT
-------------------------------------------------------------- */

.left-sidebar #primary {
  float: right
}

.left-sidebar #secondary {
  float: left
}

/* =NO SIDEBAR CONTENT LAYOUT
-------------------------------------------------------------- */

.no-sidebar #primary {
  float: none;
  margin: 0 auto;
}

.no-sidebar-full-width #primary {
  width: 100%
}

/* =POST CONTENT 
----------------------------------------------- */

#content .node,
#content .page {
  padding-bottom: 45px
}

.single #content .node {
  padding-bottom: 25px
}

.node .entry-title,
.page .entry-title {
  font-size: 26px;
  line-height: 32px;
}

.node .entry-title a,
.page .entry-title a {
  color: #444444
}

.node .entry-title a:hover,
.page .entry-title a:hover {
  color: #0FBE7C
}

.node .entry-content {
  margin-bottom: 10px
}

.node .entry-content a:hover {
  text-decoration: underline
}

.entry-content ul {
  list-style: square
}

.entry-content ul,
.entry-content ol {
  margin-bottom: 30px;
  padding: 0 0 0 35px;
}

.entry-content li > ul,
.entry-content li > ol {
  margin-bottom: 0
}

.blog-medium .node .post-featured-image {
  float: left;
  padding-right: 4%;
  text-align: left;
  width: 36%;
}

.blog-alternate-medium #primary article:nth-child(odd) figure {
  float: left;
  padding-right: 4%;
}

.blog-alternate-medium #primary article:nth-child(even) figure {
  float: right;
  padding-left: 4%;
}

.node .entry-meta {
  border: 1px solid #EAEAEA;
  color: #666666;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0 0 20px;
}

.node .entry-meta .read-more-link {
  background-color: #0FBE7C;
  border-right: none;
  float: right;
  padding: 5px 10px;
}

.node .entry-meta .read-more-link:hover {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.node .entry-meta a.read-more {
  color: #FFFFFF
}

.node .entry-meta a.read-more:hover {
  color: #FFFFFF
}

.node .entry-meta .by-author,
.node .entry-meta .date,
.node .entry-meta .category,
.node .entry-meta .comments,
.node .entry-meta .edit-link {
  padding: 5px 10px
}

.node .entry-meta .by-author:before,
.node .entry-meta .date:before,
.node .entry-meta .category:before,
.node .entry-meta .comments:before,
.node .entry-meta .edit-link:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 18px/1 'Genericons';
  position: relative;
  top: 3px;
}

.node .entry-meta .edit-link:before {
  content: '\f411'
}

.node .entry-meta .by-author:before {
  content: '\f304'
}

.node .entry-meta .comments:before {
  content: '\f300'
}

.node .entry-meta .category:before {
  content: '\f301'
}

.node .entry-meta .date:before {
  content: '\f307'
}

.node .entry-meta span {
  display: inline-block;
  padding: 0 6px 0 6px;
}

.node .entry-meta span:first-child {
  border-left: none
}

.node .entry-meta a,
.type-page .entry-meta a {
  color: #666666
}

.node .entry-meta a:hover,
.type-page .entry-meta a:hover {
  color: #0FBE7C
}

.by-author {
  text-transform: capitalize
}

.field-name-field-tags {
  margin: 30px 0
}

.field-label,
.field-name-field-tags .field-items,
.field-name-field-tags .field-item {
  display: inline-block
}

.field-name-field-tags .field-label {
  font-weight: normal;
  margin-right: 5px;
}

.field-name-field-tags .field-item {
  margin-right: 16px
}

.field-name-field-tags a {
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  color: #666666;
  padding: 3px 5px;
}

.field-name-field-tags a:hover {
  color: #0FBE7C;
  text-decoration: none;
}

/*-----------------------------------------------------------------------------
 *           Drupal styles            
 *---------------------------------------------------------------------------*/

.name-and-slogan-container {
  padding-top: 8px
}

/* Tabs */

.tabs {
  margin-bottom: 20px;
  margin-left: 0;
}

.tabs .active a {
  color: #222
}

.tabs li.active {
  border-bottom: 2px solid #222
}

.tabs li {
  border-bottom: 2px solid #0FBE7C;
  display: inline-block;
  margin-right: 10px;
}

/* Comments */
.comment-form label {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}

.comment-form .username {
  display: block;
  margin-bottom: 20px;
}

.comment-title {
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.comment-title a {
  color: #666
}

/* The comment body */
.comment-content {
  position: relative
}

/* Container of author, date and permalink */
.comment-info {
  float: left;
  margin-left: 25px;
  margin-top: 15px;
}

/* To avoid IE problems */
.user-picture a {
  display: block
}

/* Edition and reply links inside the comment content */

/* Search form */

.block-search {
  margin-bottom: 0;
  padding-top: 10px;
}
